<app-header></app-header>
<div class="container">
    <!-- welcome part -->
     <div class="row align-items-center">
        <div class="col-lg-6 bg-success d-flex justify-content-center">
            <img class=" p-4 img-fluid " style="height: 300px;" src="/vegetables.png" alt="Veg Welcome">

        </div>
        <div class="col-lg-6 text-center text-lg-start">
            <h1 class="mt-4 fw-bold text-center">Welcome To CookPedia</h1>
            <p class="m-3 " style="text-align: center;">
                Discover 100+ recipes in your hand with the best recipe. <br>
                Help you to find the easiest way to cook.
            </p>
        </div>
     </div>
     <!-- about -->
      <div class="row align-items-center">
        <div class="col-lg-6 ps-lg-5">
            <h1 class=" mt-5 ms-5 fw-bolder">About Us</h1>
            <p class="text-justify  ms-5" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, velit libero nihil quibusdam, quasi ex reiciendis amet fugiat eveniet nobis, earum doloremque! Voluptates facere adipisci dicta eum consequatur temporibus tempora.</p>
            <ul class="text-justify ms-5" >
                <li>Lorem ipsum dolor sit amet consectetur </li>
                <li>adipisicing elit. Et numquam cumque id veniam? Cum distinctio nostrum,amet nesciunt sapiente pariatur consequatur eius ipsum incidunt accusantium </li>
                <li>voluptatem debitis ipsa minus et </li>
                <li>amet nesciunt sapiente pariatur consequatur eius ipsum incidunt accusantium</li>
            </ul>
            <a routerLink="/about"  class="btn text-light bg-success ms-5 mb-5 mt-2">Know More About Us</a>

        </div>
        <div class="col-lg-6">
            <img src="https://png.pngtree.com/png-vector/20231002/ourmid/pngtree-young-chef-holding-vegetables-bowl-cook-png-image_10135989.png" alt="About image">
        </div>
      </div>
</div>
<app-footer></app-footer>